
th{

    background-color: #011229;
    text-align: center;
    color: aliceblue;
    

}

td{

    text-align: left;
    


}

#XWX{
    
text-align: center;
color: #1d5880; 
padding: auto;



}

#myInput {

text-align: center;


}
